*  {
	margin:0;
	padding:0;
}

pre{
	/*font-weight: bold;*/
	color:#fff;
	background-color:#101010; 
}

small{
	font-style: italic;
}

.navbar-nav li:hover{
	background-image: url("img/hover.png");
	background-repeat:  repeat-x;
	background-position: bottom;
}
a:link{
	text-decoration: none;
}

body {
	background-color: #fff;
	height: 100%;
}

.each_posts{	
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 2px 2px 10px #888888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 10px;
}

.interna_posts{	
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 2px 2px 10px #888888;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	margin-top: 10px;
}

/*
.menu-link a:hover{
	text-decoration: none;
	color: #999 !important;
}*/

.each_posts:hover{
	box-shadow: 0px 0px 0px 3px #5bc0de;
}

/*.color-nav{
	background-color: #5bc0de !important;
}*/

.color-nav a{
	color:white !important;
	font-family: ubuntu;

}

.color-nav h1{
	font-size: 40px;
}

.color-nav{
	background-color: #222222;
	background-image: url(img/bg.png);
	box-shadow: inset 0 0 100px #000000;
	height: 140px;
}

.console-bg{
	background-image: url(img/top-terminal.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
	background-color: #222222;
/*	background-image: url(img/bg.png);*/
	box-shadow: inset 0 0 100px #000000;
	color: #2cffb6;
	text-shadow: 0.1em 0.05em 0.5em #2cffb6;
	padding: 40px 0 0 20px;

}


.active{
	background-color: transparent !important;
}

#logo{
	background-image: url(img/lamp.png);
	/*background-position: 0 21px;*/
	padding: 17px 0 0 85px;
	background-repeat: no-repeat;
	color: #606a87;
	height: 100px;
}

.hcolor{
	color: #5bc0de;
	text-shadow: 0.1em 0.05em 0.05em #000;
}

.sidebar{
	margin-top: 10px;
	margin-left: 20px;	
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #888888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

footer{
	margin-top: 20px;
	background-color: black;
	padding: 10px;
	position:absolute;
	width: 100%;
	bottom: 0;
}

.marketing{
	min-height: 100%;
	height: 100%;
}

.post_img img{
	width: 200px;
	height: 160px;
	box-shadow: inset 0 0 100px #000000;

}

.post_wording img{
	height: 300px;
	float: right;
	border-radius: 50%;
}	

