* {
	padding: 0;
	margin: 0;
	font-family:ubuntu;
	font-size:17px;
	border:none;	
}

body{

	background-image:url("img/listras_bg.png");
	background-attachment: fixed;

}

blockquote{
	box-shadow: 1px 1px 1px #000000;
}

/*Carrousel treatment*/

.side_img_carousel img{
	float:left;
	margin-right: 20px;
	margin-bottom: 8px;

}



.g_header{
	width: 250px;
	height: 20px;
	border: 20px solid #000000;
	border-left: 35px solid transparent;
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	float: right;		

}

.g_header input{
	color: black;
}

.item_car{
	width:200px;
	height:100px;
	margin-bottom: 20px;		
}

.g_menu{
	background-color: #000000;
	height: 40px;	
	text-align: center;
	padding-top: 5px;
}

.h1_title{
	background-color: #000000;	
	text-align: center;
	padding: 10px 0 5px 0;
	color:white;
}

.h2_title{
	background-color: #000000;	
	text-align: left;
	padding: 10px 0 10px 20px;	
	color:white;	
}

.h2_title span{
	padding-bottom: 5px;
}

.h2_title img{	
	width:30px;
	height:30px;
}

.topic{
	padding: 20px;	
}

.topic_item{	
	text-align: justify;
	transition: color, box-shadow 0.3s ease;
	padding:8px;	
	margin-bottom: 10px;
}

.topic_item:hover{
	box-shadow: 1px 1px 3px #000000;
}


.topic_box{
	padding:20px;
}

.topic_item img{
	height:100px;
	width:150px;	
	transition: height, width 0.5s ease;	
}

.topic_item a:link, a:visited{
	text-decoration: none;
	color:#4D4D4D;	
}


.g_menu li a{
	font-size: 17px;		
}

.carousel-control {	
	background-image:none  !important;
}


.g_shadow{
	box-shadow: 0 7px 3px #000000;
}

.g_center{
	background-color: rgba(0,0,0,0.3);
	/*box-shadow: 5px 0px 0px #000000;*/
	padding: 30px;
}


.logo_header{
	background-color: rgba(0,0,0,1);
	text-align: center;
}

.g_artigo{
	background-color: rgba(255,255,255,0.9);
	/*box-shadow: 5px 0px 0px #000000;*/
	padding: 30px;
	color: black;
}

.artigos p{
	color:black;
	text-align: justify;	
}


#img_central{
	text-align: center;
}

.g_nav ul{
	list-style:none;
	text-align:center;

}
.g_nav li{
	display:inline;
	padding:18px;
	color:white;

}

.g_nav li a{

	text-decoration: none;
	color:white;
}

.g_nav img{
	width:30px;
	height:30px;
}

.g_nav span:before{
	margin-right:5px; 
}


.side_bar_item{
	text-align: left;
	padding-top: 20px;
	color:#4D4D4D;
}

#category{
	background:#000000;
	color:white;
	padding:3px;
	margin-right: 5px;
	/* sombra interna */

}

.interna_meio p{
	color: black;
	text-align: left;
	font-size: 20px;
}

.interna_meio img{
	text-align: center;	
	margin-bottom: 10px;
}

/*Icon fonts*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xu5ml');
	src:url('fonts/icomoon.eot?#iefixxu5ml') format('embedded-opentype'),
	url('fonts/icomoon.woff?xu5ml') format('woff'),
	url('fonts/icomoon.ttf?xu5ml') format('truetype'),
	url('fonts/icomoon.svg?xu5ml#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;	

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e602";
}
.icon-tag:before {
	content: "\e603";
}
.icon-image:before {
	content: "\e604";
}
.icon-play:before {
	content: "\e605";
}
.icon-music:before {
	content: "\e606";
}
.icon-android:before {
	content: "\e607";
}
.icon-tux:before {
	content: "\e608";
}
.icon-github2:before {
	content: "\e609";
}
.icon-clock:before {
	content: "\e60a";
}
.icon-quill:before {
	content: "\e60b";
}
.icon-calendar:before {
	content: "\e60c";
}
.icon-star:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-console:before {
	content: "\e60f";
}
.icon-bubble:before {
	content: "\e610";
}
.icon-file:before {
	content: "\e611";
}
.icon-console-big:before {
	content: "\e60f";
	font-size: 30px;
	margin-right: 8px;
}
.icon-journal:before {
	content: "\e602";
	font-size: 40px;
	margin-right: 8px;	
}