<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="http://www.favicon.cc/logo3d/129461.png">

	<title>Arthur</title>

	<link href="{{STATIC_PREFIX}}/css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_PREFIX}}style.css" rel="stylesheet">

</head>

<body>
<!-- NAVBAR	================================================== -->
		<div class="row color-nav">
			<div class="container">
				<a href="{% url 'home' %}">
					<h1 id="logo">Blog <span class="hcolor">Arthur</span> Alves</h1>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav menu-link">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'listagem_geral' %}">Listagem Geral</a></li>
							<li><a href="{% url 'categorias' %}">Categorias</a></li>
							<li><a href="javascript:;">Tutoriais</a></li>
							<li><a href="{% url 'sobre' %}">Sobre</a></li>

						</ul>
					</dipv>

				</div>
			</div>
		</div>
<!-- END - NAVBAR	================================================== -->
		<div class="container marketing">
			<div class="row"> 
			    <!-- Post init -->
				<div class="col-md-8 center_post">
					{% block article %}
          			{% endblock %}

				<!-- Post end -->
				</div>
				<!-- SIDEBAR -->
				<div class="col-md-3 sidebar">
					<h4><span class="glyphicon glyphicon-list"></span> - Categorias</h4>
					<ul class="nav nav-pills nav-stacked" >
						{% for i in categorias %}
						<li><a href="{% url 'listagem' category=i %}">{{i.category}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<!-- END SIDEBAR -->

			</div>
			
		</div>



</body>
</html>