<form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
{% csrf_token %}
<div><label>{{ form.title_img.label }}</label>{{ form.title_img }}
{% if form.title_img.help_text %}
<div class="help">{{form.title_img.help_text}}</div>
{% endif %}
{% if form.title_img.errors %}
<div style="color: red;">{{ form.title_img.errors }}</div>
{% endif %}
</div>
<div><label>{{ form.image.label }}</label>{{ form.image }}</div>
<button type="submit">Enviar</button>
</form>