{% extends "blog/base.html" %}
{% block carrossel %}
<div class="row g_center">
  <!-- Imagem Central do carrousel -->        
  <div class="col-md-7">
    <div id="carousel_boot" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
<!--         <li data-target="#carousel_boot" data-slide-to="0" class="active"></li>
        <li data-target="#carousel_boot" data-slide-to="1"></li>
        <li data-target="#carousel_boot" data-slide-to="2"></li>   -->    
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img alt="testes" src="http://placehold.it/700x350">
          <div class="carousel-caption">
            <h2>Testes 1</h2>
          </div>
        </div>

        <div class="item">
          <img alt="testes" src="http://placehold.it/700x350">
          <div class="carousel-caption">
            <h2>Testes 2</h2>
          </div>
        </div>

        <div class="item">
          <img alt="testes" src="http://placehold.it/700x350">
          <div class="carousel-caption">
            <h2>Testes 3</h2>
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel_boot" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel_boot" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-md-5">
       <div class="row side_img_carousel">
      <a href="javascript:;"  data-target="#carousel_boot" data-slide-to="0">
        <img alt="testes" src="http://placehold.it/150x100"><h3>asdasdsdasd</h3></a>
    </div>
    <div class="row side_img_carousel">
      <a href="javascript:;" data-target="#carousel_boot" data-slide-to="1">
        <img alt="testes" src="http://placehold.it/150x100"><h3>asdasdsdasd</h3></a>
    </div>
    <div class="row side_img_carousel">
      <a href="javascript:;" data-target="#carousel_boot" data-slide-to="2">
        <img alt="testes" src="http://placehold.it/150x100"><h3>asdasdsdasd</h3></a>
    </div>
  </div>
  

  

</div>      
{% endblock %}
{% block article %}
<div class="h2_title">
  <h2><span class="icon-journal"></span>Artigos</h2>
</div>
<div class="clearfix"></div>
<!-- Item -->           
<div class="topic_box">
  {% for i in posts %}
  <a href="{% url 'interna' slug=i.slug %}">
    <div class="row topic_item">

      <div class="col-md-3">
        <img alt="testes" src="http://placehold.it/150x100">
      </div>              
      <div class="col-md-9">
        <p><span id="category">{{i.category}}:</span>{{i.resumo}}</p>
      </div>
      
    </div>
  </a>
  <!-- Item -->
  {% endfor %}
</div>
{% endblock %}