{% extends "blog/base.html" %}
{% block article %}

<div class="bg_title">
  <h2><span class="icon-journal"></span>Artigos</h2>
</div>
<div class="topic_box">
  {% for i in listagem %}
  <a href="{% url 'interna' slug=i.slug %}">
    <div class="row topic_item">

      <div class="col-md-3">
        <img alt="testes" class="thumbnail" src="http://placehold.it/150x100">
      </div>              
      <div class="col-md-9">
        <span class="label label-default">{{i.category | capfirst}}:</span><p>{{i.resumo}}</p>
      </div>

    </div>
  </a>
  <!-- Item -->
  {% endfor %}
</div>
{% endblock %}




<!-- Item -->
