{% extends "blog/base.html" %}
{% block article %}
{% for post in listagem %}
<div class="row featurette each_posts">
  <div class="col-md-3 post_img">
    <a href="{% url 'interna' slug=post.slug %}">
      <img class="featurette-image img-responsive img-circle" data-src="holder.js/500x500/auto" alt="500x500" src="{% url 'home'%}media/{{ post.img_post }}">
    </div>

    <div class="col-md-8 posts">

      <h4 class="featurette-heading"><span class="label label-info"> {{post.category | capfirst}}</span> - {{post.title}}</h4>
      <p>{{post.resumo}}</p>
    </a>

  </div>
</div>
{% empty %}
<h2>Ops... esta categoria não possui resultado</h2>
{% endfor %}
{% endblock %}




<!-- Item -->
