{% extends "blog/base.html" %}
{% block article %}


<h2>Sobre</h2>
<h3> Quem sou:</h3>
<div class="topic_box terminal console-bg">
	<div class="console-line">
		<div id="console" style="float:left;">
			<span>arthur@sand-box:~$ </span>
		</div>
		<div id="command"></div>
	</div>
	<div class="result">

	</div>
	<div class="end">
		<div id="console">

		</div>		
		<div id="command"></div>
	</div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){

	window.onload = function(){
		terminal();
	}

	function terminal(){
		var present = 	'#################################</br>' +
		'## Arthur Alves - Back-end Developer ## </br>' +
		'#################################</br>' +
		'</br>' +
		'Apaixonado por tecnologia  e programação</br>' +
		'Formado em Produção Multimídia - UNIBH</br>' +
		'</br>' +
		'Conhecimentos:</br>' +
		'- Ambiente GNU/Linux - Debian</br>' +
		'- Python</br>' +
		'- Django</br>' +
		'- Web2py</br>' +
		'- Javascript/Jquery</br>' +
		'- Deploy automático de aplicações</br>' +
		'- Versionamento : GIT</br>' +
		'- HTML5 + CSS3</br>' +
		'- Shell Script</br>' 

		var letra = 'cat arthur.txt'.split('');
		var console_line = "<span>arthur@sand-box:~$ </span>";
		for (i in letra){
			(function (i){setTimeout(function(){
				$('.console-line > #command').last().append(letra[i]);
			},100*i)}(i));
		};

		setTimeout(function() {
			$('.result').html(present);

		}, 2000);

		setTimeout(function() {
			$('.end > #console').append(console_line);
		}, 2500);
	};

});
</script>
{% endblock %}

