{% extends "blog/base.html" %}
{% block article %}

<div class=" bg_title">
  <h2><span class="icon-journal"></span>Sobre</h2>
</div>
<div class="topic_box ">
  <h3> Quem sou:</h3>
</div>
<div class="topic_box " style="height:900px;">
  <p>
    Me chamo Arthur, formado em Produção Multimídia, pela UNIBH, trabalho com desenvolvimento web back-end. Criei esse blog com um simples intúito de divulgar informações diversas sobre linux, games, desenvolvimento, tutoriais, artigos e etc. Tudo que eu puder expor de relevante ao meu ver, compartilharei aqui com todos. Espero que seja realmente útil.
  </p>
  <p>
    Arthur A.S
  </p>
</div>
{% endblock %}

